# HW9: GROCERIES MARKET BASKET DATASET

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,fpgrowth,association_rules
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = []

In [3]:
with open("/Users/jarkrunglerdkriangkrai/ISE/Year 4/Semester 2/Big Data/new_github/big_data_ai/W8_HW_dataset-661316-16792874842304.csv","r") as f:data = f. read()

In [4]:
data = data.split ("\n")
list = []

In [5]:
for i in data:
  list.append(i.split(","))

In [6]:
list = pd.DataFrame(list)
list.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,471,1601,4056,4448,5576,5832,None,None,None,None,None,None,None,None,None,None,None,None,None
1,1487,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,2302,3733,4639,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,1968,3885,4056,4311,4839,5398,5576,5832,None,None,None,None,None,None,None,None,None,None,None
4,1096,1528,2852,4243,4519,4682,None,None,None,None,None,None,None,None,None,None,None,None,None

## EDA

In [7]:
list.shape

(522661, 19)

In [8]:
list=list.values.tolist()

In [9]:
for i in range(0,len(list)):
    list[i]=[item for item in list[i] if not(pd.isnull(item)) == True]
    i=i+1

## Preprocessing

In [10]:
encoder1=TransactionEncoder()
encoder1_arr=encoder1.fit(list).transform(list)
df1=pd.DataFrame(encoder1_arr,columns=encoder1.columns_)
df1

,1096,11,111,1129,1152,1216,1230,1253,1256,127,...,5793,5812,5832,5909,5992,686,709,772,86,994
0,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522656,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
522657,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
522658,True,False,False,False,True,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
522659,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
522660,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
df1.sum(axis=0)

1096    78463
11      39915
111     53993
1129     9341
1152    20595
        ...
686     35548
709     10204
772      9919
86      27244
994     12485
Length: 154, dtype: int64

## Model

### Apriori

In [12]:
frequent_itemsets = apriori(df1, min_support=0.10, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support            itemsets  length
0   0.150122              (1096)       1
1   0.103304               (111)       1
2   0.123353              (1997)       1
3   0.114160              (3136)       1
4   0.145930              (3885)       1
5   0.132298              (4056)       1
6   0.103962              (4311)       1
7   0.138780              (4519)       1
8   0.156507              (5576)       1
9   0.141822              (5832)       1
10  0.125217        (1096, 4519)       2
11  0.121784        (4056, 5576)       2
12  0.121821        (4056, 5832)       2
13  0.122427        (5576, 5832)       2
14  0.113400  (4056, 5576, 5832)       3

In [13]:
frequent_itemsets.dtypes

support     float64
itemsets     object
length        int64
dtype: object

In [14]:
frequent_itemsets[ (frequent_itemsets['length'] >= 2) &
                   (frequent_itemsets['support'] >= 0.10) ]

     support            itemsets  length
10  0.125217        (1096, 4519)       2
11  0.121784        (4056, 5576)       2
12  0.121821        (4056, 5832)       2
13  0.122427        (5576, 5832)       2
14  0.113400  (4056, 5576, 5832)       3

In [15]:
for i in range(0,len(frequent_itemsets)):
    for s in frequent_itemsets['itemsets'][i]:
        if s=='5576':
            print(frequent_itemsets[frequent_itemsets.index==i])
    i=i+1

    support itemsets  length
8  0.156507   (5576)       1
     support      itemsets  length
11  0.121784  (4056, 5576)       2
     support      itemsets  length
13  0.122427  (5576, 5832)       2
    support            itemsets  length
14   0.1134  (4056, 5576, 5832)       3

### FP Growth

In [16]:
frequent_itemsets1 = fpgrowth(df1, min_support=0.1, use_colnames=True)
frequent_itemsets1['length'] = frequent_itemsets1['itemsets'].apply(lambda x: len(x))
frequent_itemsets1

     support            itemsets  length
0   0.156507              (5576)       1
1   0.141822              (5832)       1
2   0.132298              (4056)       1
3   0.145930              (3885)       1
4   0.103962              (4311)       1
5   0.150122              (1096)       1
6   0.138780              (4519)       1
7   0.114160              (3136)       1
8   0.123353              (1997)       1
9   0.103304               (111)       1
10  0.122427        (5576, 5832)       2
11  0.121821        (4056, 5832)       2
12  0.121784        (4056, 5576)       2
13  0.113400  (4056, 5576, 5832)       3
14  0.125217        (1096, 4519)       2

In [17]:
frequent_itemsets1[ (frequent_itemsets1['length'] >= 2) &
                   (frequent_itemsets1['support'] >= 0.10) ]

     support            itemsets  length
10  0.122427        (5576, 5832)       2
11  0.121821        (4056, 5832)       2
12  0.121784        (4056, 5576)       2
13  0.113400  (4056, 5576, 5832)       3
14  0.125217        (1096, 4519)       2

## Evaluation

### Apriori

In [18]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=5)
rules[(rules['confidence'] > 0.6) &
      (rules['lift'] > 5)
      ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1096),(4519),0.150122,0.138780,0.125217,0.834100,6.010224,0.104383,5.191203
1,(4519),(1096),0.138780,0.150122,0.125217,0.902268,6.010224,0.104383,8.695992
2,(4056),(5576),0.132298,0.156507,0.121784,0.920532,5.881736,0.101079,10.614199
3,(5576),(4056),0.156507,0.132298,0.121784,0.778142,5.881736,0.101079,3.911066
4,(4056),(5832),0.132298,0.141822,0.121821,0.920806,6.492676,0.103058,10.836452
5,(5832),(4056),0.141822,0.132298,0.121821,0.858968,6.492676,0.103058,6.152517
6,(5576),(5832),0.156507,0.141822,0.122427,0.782249,5.515700,0.100231,3.941103
7,(5832),(5576),0.141822,0.156507,0.122427,0.863245,5.515700,0.100231,6.167893
8,"(4056, 5576)",(5832),0.121784,0.141822,0.113400,0.931157,6.565658,0.096129,12.465706
9,"(4056, 5832)",(5576),0.121821,0.156507,0.113400,0.930879,5.947851,0.094335,12.203148
10,"(5576, 5832)",(4056),0.122427,0.132298,0.113400,0.926267,7.001372,0.097204,11.768231
11,(4056),"(5576, 5832)",0.132298,0.122427,0.113400,0.857159,7.001372,0.097204,6.143719
12,(5576),"(4056, 5832)",0.156507,0.121821,0.113400,0.724572,5.947851,0.094335,3.188418
13,(5832),"(4056, 5576)",0.141822,0.121784,0.113400,0.799595,6.565658,0.096129,4.382210

In [19]:
rules=association_rules(frequent_itemsets, metric="lift", min_threshold=5)
rules[ (rules['confidence'] > 0.6) &
       (rules['lift'] > 5) &
       (rules['antecedents'] == {'5576'})
      ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
3,(5576),(4056),0.156507,0.132298,0.121784,0.778142,5.881736,0.101079,3.911066
6,(5576),(5832),0.156507,0.141822,0.122427,0.782249,5.515700,0.100231,3.941103
12,(5576),"(4056, 5832)",0.156507,0.121821,0.113400,0.724572,5.947851,0.094335,3.188418

### FP Growth

In [20]:
rules = association_rules(frequent_itemsets1, metric="lift", min_threshold=5)
rules[(rules['confidence'] > 0.7) &
      (rules['lift'] > 1.06)
      ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(5576),(5832),0.156507,0.141822,0.122427,0.782249,5.515700,0.100231,3.941103
1,(5832),(5576),0.141822,0.156507,0.122427,0.863245,5.515700,0.100231,6.167893
2,(4056),(5832),0.132298,0.141822,0.121821,0.920806,6.492676,0.103058,10.836452
3,(5832),(4056),0.141822,0.132298,0.121821,0.858968,6.492676,0.103058,6.152517
4,(4056),(5576),0.132298,0.156507,0.121784,0.920532,5.881736,0.101079,10.614199
5,(5576),(4056),0.156507,0.132298,0.121784,0.778142,5.881736,0.101079,3.911066
6,"(4056, 5576)",(5832),0.121784,0.141822,0.113400,0.931157,6.565658,0.096129,12.465706
7,"(4056, 5832)",(5576),0.121821,0.156507,0.113400,0.930879,5.947851,0.094335,12.203148
8,"(5576, 5832)",(4056),0.122427,0.132298,0.113400,0.926267,7.001372,0.097204,11.768231
9,(4056),"(5576, 5832)",0.132298,0.122427,0.113400,0.857159,7.001372,0.097204,6.143719
10,(5576),"(4056, 5832)",0.156507,0.121821,0.113400,0.724572,5.947851,0.094335,3.188418
11,(5832),"(4056, 5576)",0.141822,0.121784,0.113400,0.799595,6.565658,0.096129,4.382210
12,(1096),(4519),0.150122,0.138780,0.125217,0.834100,6.010224,0.104383,5.191203
13,(4519),(1096),0.138780,0.150122,0.125217,0.902268,6.010224,0.104383,8.695992

In [21]:
rules=association_rules(frequent_itemsets1, metric="lift", min_threshold=5)
rules[ (rules['confidence'] > 0.7) &
       (rules['lift'] >1.06) &
       (rules['antecedents'] == {'5576'})
      ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(5576),(5832),0.156507,0.141822,0.122427,0.782249,5.515700,0.100231,3.941103
5,(5576),(4056),0.156507,0.132298,0.121784,0.778142,5.881736,0.101079,3.911066
10,(5576),"(4056, 5832)",0.156507,0.121821,0.113400,0.724572,5.947851,0.094335,3.188418